Example 1: Create a simple Pandas Series from a list:
In order to create a series from a list, we have to first create a list. After that, we can
create a series from a list.

In [ ]:
import pandas as pd
# create a simple list
a = [1, 7, 2]
# create series from a list
my_Series = pd.Series(a)
print(my_Series)

0    1
1    7
2    2
dtype: int64

Example 2: Create a simple Pandas Series from a dictionary
In order to create a series from the dictionary, we have to first create a dictionary. After
that, we can make a series using the dictionary. Dictionary keys are used to construct
indexes for series.

In [ ]:
import pandas as pd
# a simple dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}
# create series from dictionary
my_Series = pd.Series(calories)
print(my_Series)

Example 3: Create a DataFrame from a Series:

In [ ]:
import pandas as pd
# Initialize data to a series.
d = pd.Series([10, 20, 30, 40])
# creates Dataframe.
df = pd.DataFrame(d)
# print the data.
print(df)

Example 4: Creating DataFrame from a Dictionary of lists

In [ ]:
import pandas as pd
# initialize the data of lists.
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Age': [20, 21, 19, 18]}
# Create DataFrame
df = pd.DataFrame(data)
# Print the output.
print(df)

Example 5: Creating dataframe from two series

In [ ]:
import pandas as pd
data = {
"calories": [420, 380, 390],
"duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

Example 6: Load a CSV file named data.csv into a DataFrame:

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')
print(df)

   Waiter  total_bill   tip smoker  day    time  size
0      10       16.99  1.01     No  Sun  Dinner     2
1      10       10.34  1.66     No  Sun  Dinner     3
2      11       21.01  3.50     No  Sun  Dinner     3
3      11       23.68  3.31     No  Sun  Dinner     2
4      22       24.59  3.61     No  Sun  Dinner     4

Example 7: using .head() function to print the first five rows of the data set

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')
print(df.head())

Example 8: using .tail() function to print the last five rows of the data set

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')
print(df.tail())

    Waiter  total_bill   tip smoker  day    time  size
20      11       17.92  4.08     No  Sat  Dinner     2
21      11       20.29  2.75     No  Sat  Dinner     2
22      10       15.77  2.23     No  Sat  Dinner     2
23      33       39.42  7.58     No  Sat  Dinner     4
24      33       19.82  3.18     No  Sat  Dinner     2

Example 9: printing the shape of the dataframe

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')
print(df.shape)

(25, 7)

Example 10: using .info() function

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Waiter      25 non-null     int64
 1   total_bill  25 non-null     float64
 2   tip         25 non-null     float64
 3   smoker      25 non-null     object
 4   day         25 non-null     object
 5   time        25 non-null     object
 6   size        25 non-null     int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.5+ KB
None

we will create the following DataFrame to explore the effects of
various dataframe indexing methods:

In [ ]:
import pandas as pd
df = pd.DataFrame({'col_1': list(range(1, 11)), 'col_2':
list(range(11, 21)), 'col_3': list(range(21, 31)), 'col_4':
list(range(31, 41)), 'col_5': list(range(41, 51)), 'col_6':
list(range(51, 61)), 'col_7': list(range(61, 71)), 'col_8':
list(range(71, 81)), 'col_9': list(range(81, 91))})
print(df)

   col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
0      1     11     21     31     41     51     61     71     81
1      2     12     22     32     42     52     62     72     82
2      3     13     23     33     43     53     63     73     83
3      4     14     24     34     44     54     64     74     84
4      5     15     25     35     45     55     65     75     85
5      6     16     26     36     46     56     66     76     86
6      7     17     27     37     47     57     67     77     87
7      8     18     28     38     48     58     68     78     88
8      9     19     29     39     49     59     69     79     89
9     10     20     30     40     50     60     70     80     90

In [ ]:
print(df.columns)
print(df.index)

Index(['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7', 'col_8',
       'col_9'],
      dtype='object')
RangeIndex(start=0, stop=10, step=1)

Example 11: printing the second column using the label indexing operator.

In [ ]:
print(df['col_2'])

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
Name: col_2, dtype: int64

In [ ]:
print(df[['col_5', 'col_1', 'col_8']])

   col_5  col_1  col_8
0     41      1     71
1     42      2     72
2     43      3     73
3     44      4     74
4     45      5     75
5     46      6     76
6     47      7     77
7     48      8     78
8     49      9     79
9     50     10     80

In [ ]:
print(df[['col_5', 'col_1', 'col_8', 'col_100']])

KeyError: "['col_100'] not in index"

In [ ]:
print(df.loc[0])

col_1     1
col_2    11
col_3    21
col_4    31
col_5    41
col_6    51
col_7    61
col_8    71
col_9    81
Name: 0, dtype: int64

In [ ]:
print(df.loc[0])

col_1     1
col_2    11
col_3    21
col_4    31
col_5    41
col_6    51
col_7    61
col_8    71
col_9    81
Name: 0, dtype: int64

In [ ]:
df.index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6',
'row_7', 'row_8', 'row_9', 'row_10']
print(df.loc[['row_6', 'row_2', 'row_9']])

        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1       1     11     21     31     41     51     61     71     81
row_2       2     12     22     32     42     52     62     72     82
row_3       3     13     23     33     43     53     63     73     83
row_4       4     14     24     34     44     54     64     74     84
row_5       5     15     25     35     45     55     65     75     85
row_6       6     16     26     36     46     56     66     76     86
row_7       7     17     27     37     47     57     67     77     87
row_8       8     18     28     38     48     58     68     78     88
row_9       9     19     29     39     49     59     69     79     89
row_10     10     20     30     40     50     60     70     80     90

In [ ]:
print(df.loc[['row_6', 'row_2', 'row_9', 'row_100']])

KeyError: "['row_100'] not in index"

In [ ]:
print(df.loc['row_7':'row_9'])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_7      7     17     27     37     47     57     67     77     87
row_8      8     18     28     38     48     58     68     78     88
row_9      9     19     29     39     49     59     69     79     89

Task 1.1: Print the first 4 rows using the slicing method

In [ ]:
print(df.loc['row_1':'row_4'])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1      1     11     21     31     41     51     61     71     81
row_2      2     12     22     32     42     52     62     72     82
row_3      3     13     23     33     43     53     63     73     83
row_4      4     14     24     34     44     54     64     74     84

Print the last row with columns from col_5 to col_7.

In [ ]:
print(df.iloc[-1, 4:7])

col_5    50
col_6    60
col_7    70
Name: row_10, dtype: int64

In [ ]:
print(df[3:6])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_4      4     14     24     34     44     54     64     74     84
row_5      5     15     25     35     45     55     65     75     85
row_6      6     16     26     36     46     56     66     76     86

In [ ]:
print(df.iloc[3])

col_1     4
col_2    14
col_3    24
col_4    34
col_5    44
col_6    54
col_7    64
col_8    74
col_9    84
Name: row_4, dtype: int64

In [ ]:
print(df.iloc[[9, 8, 7]])

        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_10     10     20     30     40     50     60     70     80     90
row_9       9     19     29     39     49     59     69     79     89
row_8       8     18     28     38     48     58     68     78     88

In [ ]:
print(df.iloc[0, [2, 8, 3]])

col_3    21
col_9    81
col_4    31
Name: row_1, dtype: int64

In [ ]:
print(df[(df['col_2']>15)&(df['col_2']!=19)] )

        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6       6     16     26     36     46     56     66     76     86
row_7       7     17     27     37     47     57     67     77     87
row_8       8     18     28     38     48     58     68     78     88
row_10     10     20     30     40     50     60     70     80     90

Example 13: Saving a DataFrame to a CSV file

In [ ]:
import pandas as pd
# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Age': [28, 23, 35, 31],
'Gender': ['M', 'F', 'M', 'F']
}
df = pd.DataFrame(Biodata)
# Save the dataframe to a CSV file
df.to_csv('Biodata.csv', index=False)

Task 1.7: Save the above dataframe using tab-separated values

In [ ]:
import pandas as pd

# Create a sample dataframe
Biodata = {
    'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
    'Age': [28, 23, 35, 31],
    'Gender': ['M', 'F', 'M', 'F']
}

df = pd.DataFrame(Biodata)

# Save the dataframe to a TSV file (tab-separated values)
df.to_csv('Biodata.tsv', sep='\t', index=False)

Example 14: Column addition using the basic method

In [ ]:
import pandas as pd
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Height': [5.1, 6.2, 5.1, 5.2],
'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
# Declare a list that is to be converted into a column
address = ['Nablus', 'Alquds', 'Gaza', 'Haifa']
# Using 'Address' as the column name and equating it to the list
df['Address'] = address
# Observe the result
print(df)

     Name  Height Qualification
0   Ahmad     5.1           Msc
1     Ali     6.2            MA
2    Omar     5.1           Msc
3  Hamzah     5.2           Msc
     Name  Height Qualification Address
0   Ahmad     5.1           Msc  Nablus
1     Ali     6.2            MA  Alquds
2    Omar     5.1           Msc    Gaza
3  Hamzah     5.2           Msc   Haifa

In [ ]:
age= [21, 23, 24, 21]
df.insert(2, 'Age1', age)
print(df)

     Name  Height  Age1 Qualification Address  Age  (Age, 3)
0   Ahmad     5.1    21           Msc  Nablus   21        21
1     Ali     6.2    23            MA  Alquds   23        23
2    Omar     5.1    24           Msc    Gaza   24        24
3  Hamzah     5.2    21           Msc   Haifa   21        21

Example 15: Deleting a column

In [ ]:
import pandas as pd
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],

'Height': [5.1, 6.2, 5.1, 5.2],
'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
'Age': [21, 23, 24, 21]}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
# dropping passed columns
df1 = df.drop(["Height"], axis = 1)
# Observe the result
print(df)
print(df1)

     Name  Height Qualification  Age
0   Ahmad     5.1           Msc   21
1     Ali     6.2            MA   23
2    Omar     5.1           Msc   24
3  Hamzah     5.2           Msc   21
     Name  Height Qualification  Age
0   Ahmad     5.1           Msc   21
1     Ali     6.2            MA   23
2    Omar     5.1           Msc   24
3  Hamzah     5.2           Msc   21
     Name Qualification  Age
0   Ahmad           Msc   21
1     Ali            MA   23
2    Omar           Msc   24
3  Hamzah           Msc   21

Example 16: Adding a new row to the end of the Pandas DataFrame.

In [ ]:
import pandas as pd
technologies= {
'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
'Fee' :[22000,25000,23000,24000,26000],
'Duration':['30days','50days','35days', '40days','55days'],
'Discount':[1000,2300,1000,1200,2500]
}
df = pd.DataFrame(technologies)
print(df)
# New list to append Row to DataFrame
9
list = ["Hyperion", 27000, "60days", 2000]
df.loc[len(df)] = list
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days      2500
    Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1   PySpark  25000   50days      2300
2    Hadoop  23000   35days      1000
3    Python  24000   40days      1200
4    Pandas  26000   55days      2500
5  Hyperion  27000   60days      2000

2.6.3 Deleting row From DataFrame

In [ ]:
import pandas as pd
import numpy as np
technologies = {
'Courses':["Spark","PySpark","Hadoop","Python"],
'Fee' :[20000,25000,26000,22000],
'Duration':['30day','40days',np.nan, None],
'Discount':[1000,2300,1500,1200]
}
indexes=['r1','r2','r3','r4']
df = pd.DataFrame(technologies,index=indexes)
print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500
r4   Python  22000     None      1200

In [ ]:
df1 = df.drop(['r1','r2'])
print(df1)

   Courses    Fee Duration  Discount
r3  Hadoop  26000      NaN      1500
r4  Python  22000     None      1200

In [ ]:
df1=df.drop(df.index[[1,3]])
print(df1)

   Courses    Fee Duration  Discount
r1   Spark  20000    30day      1000
r3  Hadoop  26000      NaN      1500

In [ ]:
df=df.drop(df.index[0])
print(df)

   Courses    Fee Duration  Discount
r3  Hadoop  26000      NaN      1500
r4  Python  22000     None      1200

Example 19: Delete Rows with Default Indexes

In [ ]:
df = pd.DataFrame(technologies)
df1 = df.drop(0)
df3 = df.drop([0, 3])
df4 = df.drop(range(0,2))
print(df)
print(df1)
print(df3)
print(df4)

   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000      NaN      1500
3   Python  22000     None      1200
   Courses    Fee Duration  Discount
1  PySpark  25000   40days      2300
2   Hadoop  26000      NaN      1500
3   Python  22000     None      1200
   Courses    Fee Duration  Discount
1  PySpark  25000   40days      2300
2   Hadoop  26000      NaN      1500
  Courses    Fee Duration  Discount
2  Hadoop  26000      NaN      1500
3  Python  22000     None      1200

Example 20: Drop Rows by Checking Conditions

In [ ]:
# Using drop() to delete rows based on column value
df.drop(df[df['Fee'] >= 24000].index, inplace = True)
print(df)

  Courses    Fee Duration  Discount
0   Spark  20000    30day      1000
3  Python  22000     None      1200

Task 1.11: delete all rows with Fee >= 2200 and Discount == 2300. Save the result in a
file named task.csv

In [ ]:
df.drop(df[(df['Fee'] >= 22000)&(df['Discount'] == 2300)].index, inplace = True)
print(df)

  Courses    Fee Duration  Discount
0   Spark  20000    30day      1000
2  Hadoop  26000      NaN      1500
3  Python  22000     None      1200

Task 1.12: Write a code to delete all rows with a Non/NaN value.

In [ ]:
df_cleaned = df.dropna()
print(df_cleaned)

  Courses    Fee Duration  Discount
0   Spark  20000    30day      1000

In [ ]:
df = df.drop(df[((df['Courses'] == 'Spark') | (df['Courses'] == 'Hadoop'))])
print(df)

NameError: name 'df' is not defined

Task 1.13: Write a code to delete all rows having courses equal to Spark or Hadoop.

In [ ]:
import pandas as pd
# Create two sample DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
'B': ['B4', 'B5', 'B6', 'B7'],
'C': ['C4', 'C5', 'C6', 'C7'],
'D': ['D4', 'D5', 'D6', 'D7']})
# Concatenate the DataFrames vertically
result = pd.concat([df1, df2])
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

Task 1.14: Perform the concatenation in the above example along columns.

In [ ]:
result = pd.concat([df1, df2], axis=1)

# Display the result
print(result)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7